body {
  margin: 0;
}

.boxes {
  margin: 10px;
  height: 700px;
  width: 700px;
  background-color: #4700b9;
  border: 10px solid black;
  /* position: relative; */
}

.boxes__box {
  position: absolute;
  top: 0;
  right: 0;

  height: 400px;
  width: 400px;
  padding: 30px;
  font-size: 4rem;
  background-color: #ff8601;
  border: 10px solid red;
  box-sizing: border-box;
}
