.chat {
  height: 10rem;
  width: 10rem;
  padding: 10rem;
}

.chat__figure {
  width: 8em;
  height: 8em;
  border-radius: 100%;
  background-color: #40ea60;
  align-content: center;
  text-align: center;
  position: fixed;
  bottom: 2rem;
  right: 0;
  transition: transform 1s, background-color 1s;
}

.chat__icon {
  height: 5.5em;
  width: 5.5em;
  fill: white;
  transition: fill 1s;
  padding: 1rem;
}

.chat__figure:hover {
  transform: scale(1.1);
  background-color: white;
}

.chat__icon:hover {
  fill: #40ea60;
}
