header {
  margin: 0;
  padding: 0 20px;
  height: auto;
  width: 100%;
  background-color: #2ec4b6;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-shadow: 0.2px 0.2px 25px black;
}

.header__logo {
  font-size: 3rem;
  display: flex;
  align-items: center;
}

.header__ul {
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 30px;
  overflow: auto;
  text-overflow: ellipsis;
  flex-wrap: wrap;
}

.header__link {
  text-decoration: none;
  color: black;
  font-size: 1.5em;
  font-weight: 500;
  transition: color 0.5ms;
}

.header__link:hover {
  color: #cbf3f0;
}
