header {
  padding: 2rem 3rem 2rem 3rem;
  margin: 0;
  background-color: #ea175c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.6rem;
  font-weight: 500;
  flex-wrap: wrap;
  box-shadow: 0.2rem 0.2rem 0.5rem black;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
}

.header__name-logo {
  font-size: 1.5em;
  font-weight: 600;
}

.header__link-1 {
  text-decoration: none;
  color: black;
}

.header__link-2 {
  text-decoration: none;
  color: black;
  transition: color 0.5s;
}

.header__link-2:hover {
  color: #8d3060;
}

.header__ul {
  padding: 0;
  display: flex;
  gap: 7rem;
  list-style: none;
  flex-wrap: wrap;
}

.header__figure {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin: 0;
}

.header__icon {
  height: 3rem;
}
