.boxes__box {
  /*   height: 25rem;
  width: 40rem; */
  /* margin: 2rem 0 0 2rem; */
  margin: auto;
  padding: 10px;
  background-color: #d3d0cb;
  box-sizing: border-box;
  border-radius: 1rem;
  display: flex;
  max-width: 900px;
  position: relative;
  display: inline-block;
  /*   left: 0;
  top: 0;
  right: 0;
  bottom: 0; */
  inset: 0;
  
}

.boxes__img {
  height: 30rem;
  width: 40rem;
  border-radius: 1rem;
  position: sticky;
  top: 0;
  left: 0;
}

.boxes__texts {
}
