body {
  background-color: rgb(32, 29, 29);
}
.cards {
  margin: 2rem;
  display: grid;
  gap: 1.6rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));

  /* grid-template-rows: repeat(auto-fill, minmax(30rem, 1fr)); */
}

.cards__card {
  background-color: black;
  border-radius: 2rem;
  box-shadow: 0.2rem 0 2.5rem gray;
}

.cards__image {
  border-radius: 1rem 1rem 0 0;
  border-bottom: 0.2rem solid white;
  width: 100%;
}

.cards__title {
  /* width: 100%; */
  text-align: center;
  color: white;
}
