body {
  background-color: rgb(32, 29, 29);
}
.cards {
  margin: 2rem auto;
  display: grid;
  gap: 1.6rem;
  /* max-width: 80rem; */
  min-width: 40rem;
  grid-auto-rows: 30rem;
  grid-template-columns: repeat(3, 20rem);
  /* grid-template-areas:
    "card1 card1 card1"
    "card2 card2 card3"
    "card2 card2 card3 "
    "card5 card4 card4 "
    "card5 card4 card4 "; */
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: start;

  background-color: aliceblue;
  height: 100rem;
  width: 100rem;
}

/* @media (width < 56rem) {
  .cards {
    grid-template-areas:
      "card1 card1 card1"
      "card2 card2 card2"
      "card3 card3 card3"
      "card4 card4 card4"
      "card5 card5 card5";
  }
} */

.cards__card {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  background-color: black;
  border-radius: 2rem;
  box-shadow: 0.2rem 0 2.5rem gray;
}

.cards__image {
  display: flex;
  flex: 1;
  object-fit: cover;
  object-position: center;
  border-radius: 1rem 1rem 0 0;
  border-bottom: 0.2rem solid white;
  width: 100%;
}

.cards__title {
  display: flex;
  align-items: center;
  font-size: 3.2rem;
  color: white;
}

.cards__card:first-child {
  /* grid-area: card1; */
}

.cards__card:nth-child(2) {
  /* grid-area: card2; */
}
.cards__card:nth-child(3) {
  /* grid-area: card3; */
}
.cards__card:nth-child(4) {
  /* grid-area: card4; */
}
.cards__card:nth-child(5) {
  /* grid-area: card5; */
}
.cards__card:nth-child(6) {
  /* grid-area: card6; */
}
.cards__card:nth-child(7) {
  /* grid-area: card7; */
}
.cards__card:nth-child(8) {
  /* grid-area: card8; */
}
