.text {
  margin: 15rem 5rem 0 5rem;
  padding: 1rem 1rem;
  height: auto;
  width: auto;
  color: black;
  background-color: white;
  font-size: 2rem;
  border-radius: 1.5rem;
  box-shadow: 0.2rem 0.2rem 2.5rem black;
  display: flex;
  /* position: relative; */
  /* flex-wrap: wrap; */
}

.text__pharagraph {
  margin: 0;
  height: auto;
  width: auto;
  font-size: 0.9em;
}

.text__img {
  height: 300px;
  width: auto;
  border-radius: 1rem;
  position: sticky;
  top: 10rem;
}

.text__title {
  font-size: 3rem;
}
